h1= title
p Welcome to #{title}

div#NCAAF
	h2 NCAAF Scrapers
	a(href='/scrapeTeams/?league=NCAAF') Scrape NCAAF Teams
	br
	a(href='/saveTeams/?league=NCAAF') Save NCAAF Teams

div#NFL
	h2 NFL Scrapers
	a(href='/scrapeTeams/?league=NFL') Scrape NFL Teams
	br
	a(href='/saveTeams/?league=NFL') Save NFL Teams

div#NCAABB
	h2 NCAABB Scrapers
	a(href='/scrapeNCAAMBBEvents/?league=NCAAMBB') Scrape NCAABB Teams
	br
	a(href='/saveTeams/?league=NCAAF') Save NCAAF Teams